extends layout

block content
    - const noImage= '/images/No_image_available.png';
    div.recommendedResults
        h1.header Recommended Artists you might enjoy
        if findRelatedArtists.artists.length === undefined 
            .ui.red.huge.statistic No artists matched
        else 
        each i in findRelatedArtists.artists
                    - const artistUrl = `/artist?artist=${i.name}`;
                    if i.images.length > 0
                        div.artistQuery
                            h1.query #{i.name}
                            a(href = artistUrl)
                                img.searchQueryImage(src = i.images[0].url width = 400 height = 400)
                        .eventButton
                                a(href = `/events/${i.name}`)
                                     button.ui.huge.orange.button Find Upcoming Events
                    else 
                        div.artistQuery
                            h1.query #{i.name}
                            a(href = artistUrl)
                                img.searchQueryImage(src = noImage width = 400 height = 400)
                        .eventButton
                            a(href = `/events/${i.name}`)
                                 button.ui.huge.orange.button Find Upcoming Events

        


